@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Eater&family=Poetsen+One&family=Rubik+Glitch+Pop&display=swap");

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.header-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin: auto;
}

.header-image-container img {
  max-width: 100%;
  height: auto;
  background-color: #ffffff50;
  border: 2px solid rgba(30, 129, 165, 0.667);
  border-radius: 8px;
  margin: auto;
}

nav {
  position: absolute;
  top: 100px;
  /* width: 500px; */
  max-width: 85%;
  border: 2px solid rgba(26, 70, 171, 0.958);
  border-radius: 8px;
  margin: auto;
  text-align: center;
  background-color: rgba(33, 30, 30, 0.581);
  z-index: 2;
  padding: 10px 0;
  font-family: "B612", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  padding: 6px 10px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

nav ul li a:hover {
  color: rgb(254, 124, 2);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}

.cn {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 95%;
  max-height: 700px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.content-logo-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.content-logo-wrapper > :nth-child(1) {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Container for the logo */
.logo {
  max-width: 150px;
  margin-top: 0px;
}

/* Logo image styling */
.logo img {
  max-width: 100%;
  height: auto;
}

/* Different transparency levels */
.transparent-50 {
  opacity: 0.5; /* 50% transparency */
}

.transparent-80 {
  opacity: 0.8; /* 80% transparency */
}

/* Content styling */
.content {
  width: 100%;
  text-align: center;
}

.content h1 {
  font-size: 40px; /* Use viewport units for responsive font size */
  margin: 0;
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  font-family: "Orbitron", sans-serif;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 20px;
}

.countdown-number {
  font-size: 50px;
  color: #f7f7f7; /* Change the color to green for a tech look */
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Add a green glow effect */
}

.countdown-label {
  font-size: 16px;
  color: #ffffff; /* Change the color to white */
  text-transform: uppercase; /* Make the labels uppercase */
  letter-spacing: 2px; /* Add some letter spacing */
}
/* Change the font for the paragraph */
p#typing-text {
  font-family: "B612", sans-serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  font-size: 17px;
  letter-spacing: 1px;
}

#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.ECE {
  color: white;
  width: 350px;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(19, 18, 18, 0.734);
  border: 1px solid rgb(32, 140, 183);
  border-radius: 8px;
  font-family: sans-serif;
  align-self: center;
}

.ECE > :nth-child(1) {
  font-size: 18px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.ECE > :nth-child(2) {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 22px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    padding-left: 5px;
    margin: 0;
  }

  nav ul li a {
    padding: 5px;
    margin: 0;
  }

  .content h1 {
    font-size: 32px; /* Responsive font size */
  }

  .countdown-number {
    font-size: 40px;
  }

  .countdown-label {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  nav {
    width: 100%;
    padding-left: 5px;
    margin: auto;
  }

  nav ul li a {
    padding: 5px;
    margin: auto;
  }

  .content h1 {
    font-size: 28px; /* Responsive font size */
  }
  .countdown {
    gap: 5px;
    flex-direction: row;
  }

  .countdown-number {
    font-size: 20px;
  }

  .countdown-label {
    font-size: 10px;
  }

  .countdown-item {
    padding: 5px;
    margin: 4px;
    margin-bottom: 20px;
  }

  .header-image-container img {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 380px) {
  nav {
    width: 100%;
    padding-left: 5px;
    margin: auto;
  }

  nav ul li a {
    padding: 5px;
    margin: auto;
  }

  .content h1 {
    font-size: 24px; /* Responsive font size */
  }

  .countdown-number {
    font-size: 28px;
  }

  .countdown-label {
    font-size: 10px;
  }

  .header-image-container img {
    width: 100%;
    margin: auto;
  }

  .ECE {
    width: 90%;
    margin: auto;
  }
  p#typing-text {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}
