/* General Styles */

@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.header-image-container img {
  max-width: 100%;
  height: auto;
  background-color: #ffffff50;
  border: 2px solid rgba(30, 129, 165, 0.667);
  border-radius: 8px;
}

nav {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  z-index: 2;
  padding: 10px 0;
  text-align: center;
  font-family: "B612", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;

  margin-top: 10px;
  padding: 6px 10px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

nav ul li a:hover {
  /* background: rgba(255, 255, 255, 0.2); */
  color: rgb(254, 124, 2);
  font-family: "B612", sans-serif;
}

nav {
  /* background-color: #333; */
  padding: 10px;
  margin-bottom: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/* Span styles */
nav ul li a span {
  display: inline-block;
  transition: transform 0.3s ease;
}
.cn {
  display: flex;
  flex-direction: column;
}
.container {
  width: 85%;
  max-height: 600px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.content-logo-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.content-logo-wrapper > :nth-child(1) {
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  max-width: 150px;
  margin-top: 0px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.content {
  width: 100%;
  text-align: center;
}

.content h1 {
  font-size: 40px; /* Use viewport units for responsive font size */
  margin: 0;
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.countdown-number {
  font-size: 50px;
  color: #f7f7f7; /* Change the color to green for a tech look */
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Add a green glow effect */
}

.countdown-label {
  font-size: 16px;
  color: #ffffff; /* Change the color to white */
  text-transform: uppercase; /* Make the labels uppercase */
  letter-spacing: 2px; /* Add some letter spacing */
}

/* Change the font for the paragraph */
p#typing-text {
  font-family: "B612", sans-serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  font-size: 17px;
  letter-spacing: 1px;
}
#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.ECE {
  color: white;
  width: 350px;
  height: auto;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(19, 18, 18, 0.734);
  border: 1px solid rgb(32, 140, 183);
  border-radius: 8px;
  font-family: sans-serif;
  align-self: center;
}

.ECE > :nth-child(1) {
  font-size: 18px;
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.ECE > :nth-child(2) {
  font-size: 22px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    padding-left: 5px;
    margin: 0;
  }

  nav ul li a {
    padding-left: 5px;
    padding-right: 0;
    margin: 0;
  }
}
